.container input{
    border-radius: 8px;
    border: 4px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #595759;
    cursor: pointer;
    transition: border-color 0.25s;
}

.container button {
    border-radius: 8px;
    border: 5px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    color: #efeff4;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.container button:hover {
    border-color: #8b8bdd;
  }
.container button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.container {
    flex: 1;
    border: 2px solid #ccc;
    padding: 20px;
}