#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.todo-list {
  display: flex;
  padding: 1em;
  font-family: cursive;
  margin: 2em;
}

.each-todo {
  padding: 1em;
  font-family: cursive;
  color: #0ba57a;
  border: 2px;
  border-radius: 10px;
  background-color: rgb(35 39 47);
  margin: 2em;
  box-shadow: .5em .5em #e0dddd;
}


.sum-of-n{
  padding: 1px;
  font-family: auto;
  color: #fff;
  border: 2px;
  border-radius: 100px;
  background-color: #646cff;
  margin: 2em;
  background: linear-gradient(
        45deg,
        hsl(197, 93%, 52%) 38%,
        hsl(193, 88%, 72%)
    );
}

span{
  color: #fff;
  /* background-color: #0ba57a; */
  border-radius: 100%;
}